@font-face {
  font-family: 'Kanit-Medium';
  src: url('../fonts/Kanit/Kanit-Medium.ttf');
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.v-application {
  font-family: 'Kanit-Medium', 'Times New Roman", Times, serif' !important;
  .row {
    margin: 0;
  }
  .theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    font-size: 20px;
    color: black;
    font-weight: normal;
  }
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
    color: black;
    font-size: 15px;
  }
}
.search-text-field {
  width: 400px;
}
